<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <servlet>
    	<servlet-name>first</servlet-name>
    	<servlet-class>com.ims.services.MyFirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>first</servlet-name>
    	<url-pattern>/callServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>save</servlet-name>
    	<servlet-class>com.ims.services.SaveEmpDetails</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>save</servlet-name>
    	<url-pattern>/saveDetails</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>all</servlet-name>
    	<servlet-class>com.ims.services.DisplayAllEmployees</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>all</servlet-name>
    	<url-pattern>/displayAll</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>edit</servlet-name>
    	<servlet-class>com.ims.services.EditEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>edit</servlet-name>
    	<url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>editEmp</servlet-name>
    	<servlet-class>com.ims.services.UpdateEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>editEmp</servlet-name>
    	<url-pattern>/updateEmp</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>remove</servlet-name>
    	<servlet-class>com.ims.services.RemoveEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>remove</servlet-name>
    	<url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>validate</servlet-name>
    	<servlet-class>com.ims.services.ValidateEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>validate</servlet-name>
    	<url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>uHome</servlet-name>
    	<servlet-class>com.ims.services.UserHome</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>uHome</servlet-name>
    	<url-pattern>/userHome</url-pattern>
    </servlet-mapping>
</web-app>